.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: auto;
    margin: auto;
  }

.show, .nav-pills{
    background: #525252;
}

.nav-link{
color: white;
}

#listaFHW{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  padding-top: 0;
}

#listaFHW2{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  padding-top: 0;
}
