.grid-container {
    display: grid;
    padding: auto;
    margin: auto;
  }

#HomeIntro{
    font-size: 22px;
  }

.show, .nav-pills{
      background: #312d2d;
  }

.nav-link{
  color: white;
}

section #Sindicacion{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
margin: auto;    
}

#GBD{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#LMAR{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#FHW{
    display: flex;
    align-items: center;
    flex-direction: column;
}
