.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: auto;
    margin: auto;
  }

#HomeIntro{
    font-size: 22px;
  }

.show, .nav-pills{
      background: #f16060 !important;
  }

.nav-link{
  color: white;
}

img{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
